# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Haskell interface files
*.hi

# generated executables
GenericPricing/HaskellLH/GenPricing
GenericPricing/Orig_COpenMp/GenPricing
CalibVolDiff/Original/CalibVol

# Ad-hoc run artifacts
benchmarks/*/implementations/*/result.json
benchmarks/*/implementations/*/runtime.txt

# all instantiations
instantiations/*

#all hiperpret-created data
hiperpret/*

# emacs backups
*~

# For development, we instantiate in this directory.
instantiations/