# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Haskell interface files
*.hi

# generated executables
GenericPricing/HaskellLH/GenPricing
GenericPricing/Orig_COpenMp/GenPricing
CalibVolDiff/Original/CalibVol

# emacs backups
*~

